<% include ../header.ejs %>
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>성명</th>
                <td><input type="text" name="name" class="form-control" value="<%=contact.name%>"/></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" name="phone" class="form-control" value="<%=contact.phone%>"/></td>
            </tr>
            <tr>
                <th>주소</th>
                <td><input type="text" name="address" class="form-control" value="<%=contact.address%>"/></td>
            </tr>
            <tr>
                <th>설명</th>
                <td><input type="text" name="description" class="form-control" value="<%=contact.description%>"/></td>
            </tr>
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>

<% include ../footer.ejs %>